//-one article
section.cd-fixed-bg.cd-bg1
  h1.top-com HIKARU's portfolio
  p 市岡ヒカルのポートフォリオです

section.cd-scrolling-bg.cd-color
  h1.top-com 市岡晃のポートフォリオです。
  p.main-text 

//-one article
section.cd-fixed-bg.cd-bg2
  h1.top-com ABOUT
  p 市岡ヒカルについてです

section.cd-scrolling-bg.cd-color
  h1.top-com 市岡晃
  p.main-text 公立はこだて未来大学情報デザインコース3年　

//-one article
section.cd-fixed-bg.cd-bg3
  h1.top-com WORKS
  p 市岡ヒカルの作品

section.cd-scrolling-bg.cd-color
  h1.top-com 作品一覧
  p.main-text 市岡ヒカルが制作した作品です

//-one article
section.cd-fixed-bg.cd-bg1
  h1.top-com CONTACT
  p 連絡

section.cd-scrolling-bg.cd-color
  h1s.top-com 
  p.main-text 公立はこだて未来大学情報デザインコース3年　