section.cd-fixed-bg cd-bg1
  h1.top-com hikaru's protfplio

section.cd-scrolling-bg cd-color1
  h3.top-com 市岡晃のポートフォリオです。
  p.main-text 

section.cd-fixed-bg cd-bg2
  h1.top-com About
  p.main-text 

section.cd-scrolling-bg cd-color
  h1.top-com hikaru's protfplio
  p.main-text 市岡ヒカルのポートフォリオです。


