//- かくsectionごとに違う写真をバックに使いたいから、クラス名を変えたいけど、mixinとかでどうやるか
//- one article*3とかを効率よく描きたい


//-one article
section.cd-fixed-bg.cd-bg1.top
  div.container
    h1.top_tit HIKARU's portfolio
    p.top_txt 市岡ヒカルのポートフォリオです

section.cd-scrolling-bg.cd-color
  div.container
    h1.top-tit 市岡晃のポートフォリオです。
    p.top_tet 

//-one article
section.cd-fixed-bg.cd-bg2.about
  div.container
    h1.top_tit ABOUT
    p.top_txt 市岡ヒカルについてです

section.cd-scrolling-bg.cd-color
  div.container
    h1.top-tit 市岡晃
    p.top-txt 公立はこだて未来大学情報デザインコース3年
    h3.skill skill
    p.skill_list Adobe Illustrator Adobe Photoshop Adobe Pemire pro CC Adobe Audition CC Adobe After Effects html5 pug css3 scss processing npm gulp.js node.js 
//-one article
section.cd-fixed-bg.cd-bg3.works
  div.container
    h1.top_tit WORKS
    p.top_txt 市岡晃の作品

section.cd-scrolling-bg.cd-color.works
  div.container
    h1.top_tit 作品一覧
    p.top-txt 市岡ヒカルが授業やサークル活動で制作した作品です
    ul.work_l
      include _work-contents.pug

//-one article
section.cd-fixed-bg.cd-bg1.contact
  div.container
    h1.top_tit CONTACT
    p.top_txt 連絡

section.cd-scrolling-bg.cd-color
  div.container
    h1.top_tit 
    p.top-txt 公立はこだて未来大学情報デザインコース3年　