//- ハンバーガーメニュー
//- エリアでフォーカス
header
  div.navToggle
    - for (var x=0; x<2; x++)
      span
  nav.globalMenuSp
    ul
      //- - var list = [
      //-   "img.menu_logo(src="../img/miraitenWin_logo2.png" alt="未来展2019タイトル")",
      //-   "a(href="./index.html") トップページ",
      //-   "a(href="./about.html") 未来展概要",
      //-   "a(href="./work.html") 作品紹介",
      //-   "a(href="./access.html") アクセス"
      //- ]
      //- each item in list
      //-    li = item
      li: img.menu_logo(src="" alt="HIKARU's portfolio")
      li: a(href="./index.html") HOME
      li: a(href="./about.html") ABOUT
      li: a(href="./work.html") WORKS
      li: a(href="./contact.html") CONTACT

      //-
      //- nav.globalMenuSp 本番用絶対パス
      //-   ul
      //-     li: a(href="https://2019w.miraiten.fun/index.html") トップページ
      //-     li: a(href="https://2019w.miraiten.fun/about.html") 未来展概要
      //-     li: a(href="https://2019w.miraiten.fun/yatai.html") 屋台概要
      //-     li: a(href="https://2019w.miraiten.fun/crowdfunding.html") クラファン概要
      //-     li: a(href="https://2019w.miraiten.fun/access.html") アクセス
