-
    var arr = [
        {
            class : 'work1',
            title : 'pianissimo',
            description : '自然と優しく磨ける歯ブラシ',
            img : './work1.jpg',
            date : '2017/12/8'
        },
        {
            class : 'work2',
            title : 'デジ芝居屋さん',
            description : 'パフォーマンス型屋台',
            img : './work2.jpg',
            date : '2017/12/9'
        },
        {
            class : 'work3',
            title : '未来展2018夏webページ',
            description : 'はこだて未来大学デザインコース展示会のwebページ',
            img : './work3.jpg',
            date : '2017/12/10'
        },
        {
            class : 'work4',
            title : '未来展2019冬webページ',
            description : 'はこだて未来大学デザインコース展示会のwebページ',
            img : './work4.jpg',
            date : '2017/12/10'
        },
    ];
mixin work_list(c_name, _title, _desc, _img, _date)
  ul
    li
      h2.work_item #{_title}
      p #{_desc}
      img(src=_img)
      p #{_date}

//- //-  取り出し
//- ul
//-     each item in arr
//-         set_list(item.title, item.description, item.img, item.date)

each item in arr
  +work_list(item.class, item.title, item.description, item.img, item.date)