extends include/_layout.pug

//- block vars
  //- include ./template/_config.pug
  // - var key = "top"
  // - var page = pages[key]

block contents
  include include/_contents.pug
  h2 HIKARU ICHIOKA's portfolio
  .keyvisual_container
    p.keyvisual_image
      img(src=image_path+"/top/top_keyvisual.jpg", alt="")

  p konnnitiga
